html {
  font-family: "Encode Sans Semi Expanded";
  color: black;
}

p {
  text-decoration:dashed;
}

.done {
  color: grey;
  text-decoration:line-through dotted black;
}
.top {
    position: center;
}