html {
  font-family: "Encode Sans Semi Expanded";
  color: black;
}

body{
  background-color: rgb(253, 244, 225);
}

p {
  text-decoration:dashed;
}

.done {
  color: grey;
  text-decoration:line-through dotted black;
}

.top {
    position: center;
}

.menuItems {
  padding: 20px;
  padding-bottom: 50px;
  color: black;
}

.menuItems:hover
.menuItems:focus {
    background-color: black;
    color: white;
}

.name {
    text-align: center;
}