html {
  font-family: "Encode Sans Semi Expanded";
  color: black;
}

body{
  background-color: rgb(253, 244, 225);
}

p {
  text-decoration:dashed;
}

.done {
  color: grey;
  text-decoration:line-through dotted black;
}

nav{
    text-align: center;
}

.navigation{
  color:green;
  padding-left: 20px;
  padding-right: 20px;
}

.navigationHighlight:hover,
.navigationHighlight:focus {
    text-decoration: none;
    background-color: rgb(0, 61, 0);
    color: rgb(253, 244, 225);
}

.name {
    text-align: center;
}

img {
  object-fit:scale-down;
}

.photoHeader {
  display:flex;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
}

.gallaryContainer {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.gallary {
  width: 32%;
  aspect-ratio: 3/4;
  object-fit: cover;
  padding-bottom: 10px;
}

.credits {
  font-size: 10px;
}

